<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UIAuto" type="AutoUIDemo.UIAuto.UIAutoSection,AutoUIDemo"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <UIAuto>
    <Tabs>
      <Tab Name="测量">
        <Groups>
          <Group Name="标定">
            <Commands>
              <Command Name="发送CALI!">
                <Actions>
                  <Action Name="CaliAction" Description="发送CALI!" Format="CALI!"></Action>
                </Actions>
              </Command>
            </Commands>
          </Group>
          <Group Name="测量1~5V电压">
            <Commands>
              <Command Name="AV_START">
                <Parameters>
                  <Parameter Name="Volt" Description="电压(mV)" Type="float"></Parameter>
                </Parameters>
                <Actions>
                  <Action Name="AV_START" Description="AV__START" Format="AV_START:{Volt}!"></Action>
                  <Action Name="AV_STOP" Description="AV__STOP" Format="AV_STOP!"></Action>
                </Actions>
              </Command>
            </Commands>
          </Group>
          <Group Name="CHECK1~5V电压">
            <Commands>
              <Command Name="CHECK">
                <Parameters>
                  <Parameter Name="Volt" Description="电压(mV)" Type="float"></Parameter>
                  <Parameter Name="K" Description="斜率" Type="float"></Parameter>
                  <Parameter Name="D" Description="截距" Type="float"></Parameter>
                </Parameters>
                <Actions>
                  <Action Name="CHECK" Description="检查" Format="AI_START:{Volt};{K};{D}!"></Action>
                  <Action Name="CheckStop" Description="停止检查" Format="CHECK_STOP!"></Action>
                </Actions>
              </Command>
            </Commands>
          </Group>
        </Groups>
      </Tab>
      <Tab Name="占位">
        <Groups>
          <Group Name="占位组">
            <Commands>
              <Command Name="占位指令">
                <Parameters>
                  <Parameter Name="位置1" Type="float"></Parameter>
                  <Parameter Name="位置2" Type="float"></Parameter>
                  <Parameter Name="位置3" Type="float"></Parameter>
                </Parameters>
              </Command>
            </Commands>
          </Group>
        </Groups>
      </Tab>
    </Tabs>
  </UIAuto>
</configuration>